.body_default{
  background: none;
}

.body_mcprofile{
  background: none;
}

.connect_me {
  background: rgb(155, 25, 25);
  background: linear-gradient(180deg, #efd800fa 0%, #f9a825b3 100%);
}

#mcprofile_nav ul li button {
  border: 1px solid #ffd100;
  background: #efd800fa;
  background: linear-gradient(180deg, #ffeb3ba6 0%, #f9a825b3 100%);
}

#mcprofile_nav ul li button:hover {
  background: #efd800fa;
  background: linear-gradient(180deg, #f9a825b3 0%, #ffeb3ba6 100%);
}

#mcprofile_nav ul li button:disabled {
  background: #efd800fa;
  background: linear-gradient(180deg, #efd800fa 0%, #f9a825b3 100%);
  color: #ffe700;
  text-shadow: none;
}

#mcprofile_nav ul li button.active_mcpanel {
    border: 1px solid #232323;
}

#mcprofile_nav ul li button.active_mcpanel:hover {
  background: #1d1d1d;
}

.pikl_symbol {
  margin: 2px 0 0 8px;
}

#usdc_request:disabled {
 color: #1383e9;
}

#pikl_request:disabled {
 color: #efd800fa;
}

#usdc_request, #fulfil_usdc_request:disabled {
  color: #1383e9;
  box-shadow: 0 0 4px 0px #1383e9;
}

#pikl_request, #fulfil_pikl_request:disabled {
  color: #efd800fa;
  box-shadow: 0 0 4px 0px #efd800fa;
}

#wallet_buttons .wallet_button button {
  color: #e99200;
  text-shadow: 1px 1px 1px #ffffff;
}

ul.asset li.ass_collection {
  color: #747474;
}

ul.asset li.ass_tags button {
  background: #efc400e6;
  text-shadow: none;
  color: #000;
}

ul.asset li.ass_tags button:hover {
  background: #efc400e6;
  text-shadow: none;
}

ul.asset li.ass_options button {
  color: #efd800fa;
}

ul.asset li.ass_options button:hover {
  color: #747474;
}

.wallet_filter {
  background: #00aeef7a;
}

.swap_id, .swap_a_owner, .swap_b_owner, .fulfil_id, .fulfil_a_owner, .fulfil_b_owner {
  box-shadow: 0 0 4px 0px #1383e9;
}

.swap_id:disabled, .swap_a_owner:disabled, .swap_b_owner:disabled, .fulfil_id:disabled, .fulfil_a_owner:disabled, .fulfil_b_owner:disabled {
  color: #fffa9c;
}

#create_a_owner, #fulfil_a_owner {
  color: #efd800fa;
}

#create_b_id {
  color: #fffa9c;
}

#create_b_owner, #fulfil_b_owner {
  color: #efd800fa;
}

#swap_create, #fulfil_create {
  box-shadow: 0 0 4px 0px #1383e9;
}

#swap_provision {
  color: #fff;
  box-shadow: 0 0 4px 0px #1383e9;
}

#fetch_b{
  box-shadow: 0 0 4px 0px #1383e9;
}

.swap_e .fee_prov_sig span.swap_val, .swap_e .fee_prov_sig_b span.swap_val, .fulfil_d .fee_fulfil_sig span.swap_val {
  color: #efd800fa;
}

#swap_deploy, #swap_execute, #swap_reverse {
  color: #fff;
  box-shadow: 0 0 4px 0px #1383e9;
}

#donation_box button, #nft_donation_box button {
  background: #efd800fa;
  background: linear-gradient(180deg, #efd800fa 0%, #f9a825b3 100%);
}

#donation_box button:hover, #nft_donation_box button:hover {
  background: #efd800fa;
}

#donation_continue {
  background: #efd800fa;
  background: linear-gradient(180deg, #efd800fa 0%, #0b5394 100%);
}

#donation_continue:hover {
  background: rgb(155, 25, 25);
  background: linear-gradient(180deg, #0b5394 0%, #efd800fa 100%);
}

#donation_sig a {
  color: #efd800fa;
}

button#wallet_view img, button.mcprofile_open, button.mcprofile_close, img#donate_sol {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}